@use '@react-md/theme/dist/color-palette' as colors;
@forward 'react-md' with (
  $rmd-theme-primary: colors.$rmd-purple-500,
  $rmd-theme-secondary: colors.$rmd-pink-a-200,
  $rmd-theme-light: true,
  $rmd-theme-dark-class: 'prefers-color-scheme',
  $rmd-utils-auto-dense: true,
  // I normally don't need to support languages other than English
  $rmd-utils-enable-rtl: false,
  // I never use the `dense` prop on icons
  $rmd-icon-include-dense: false,
  // I only use svg icons
  $rmd-icon-use-font-icons: false,
  // I don't use vertical sliders
  $rmd-slider-include-vertical: false
);
